@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#infoBox{
  height:100vh;
  background: rgba(51,51,51,0.7);
  padding: 3em;
  display: flex;
  font-family: 'Open Sans',serif;
  color: white;
}

#modalTitleRow{
  position: absolute;

  padding-right: 3em;
}
#exitButton{
  font-size: 4vh;
  margin-bottom: 4vh;
}
#modalTitle{
  font-size: 5vh;
  margin-bottom: 4vh;
}
#modalPlayButton{
  height: 50vh;
}
#modalDescription{
  font-size: 3vh;
}

.learnMore{
    background-color: grey;
}

.fullscreen{
  background: url(radavist.jpg) no-repeat center top;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
}


.modal-content{
  border: 0;
}

.modal-dialog{
  margin: 0;
  max-width: 100vw;
  height: 100vh;
}
.modal-body{
  padding: 0px;
}
.videoModalContent{
  /* width: 100vw;
  height: 100vw; */
  background-color: rgba(51,51,51,0.0);
}

video{
  width: 85vw;
  margin-left: 7.5vw;
  z-index: 99;
}

body{
  background-color: #7ec0ee;
}

/*buttons*/

@font-face {
    font-family: GothamLight;
    src: url("GothamLightRegular.otf") format("opentype");
}
.btn-group .dropdown-menu li:hover a {
  color: #333;
  background-color: #E6E6E6;
  border-color: #ADADAD;
}
#seasonMenu{
  width: 100%;
  border: 1.8;
  border-color: #014361;
}
#seasonButton{
  width: 100%;
  font-family: GothamLight;
  color: #014631;
  font-size: 16pt;
  /*border-color: #014631;*/
  border: 0px;
  background-color: rgba(255, 255, 255, 0.3);
}
.dropdown-menu.show{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0px;
  padding: 0px;
  margin: 0px;
}
