@import url('https://fonts.googleapis.com/css?family=Open+Sans');


#topbar{
  padding-top: 30px;
  z-index: 99;
  position: relative;
}

#objectTitle{
  z-index: 99;
  position: relative;
  color: white;
  font-family: 'Open Sans',serif;
}

#sunTitle{
  font-family: 'Open Sans',serif;
  color: white;
}

#more{
  z-index: 99;
  position: relative;
  color: white;
}


#objectTitleBox {
/* position:fixed; */
  bottom: 0%;
}

/* Modal  */
#infoBox{
  height:100vh;
  background: rgba(51,51,51,0.7);
  padding: 3em;
  display: flex;
  font-family: 'Open Sans',serif;
  color: white;
}

#modalTitleRow{
  position: absolute;

  padding-right: 3em;
}
#exitButton{
  font-size: 4vh;
  margin-bottom: 4vh;
}
#modalTitle{
  font-size: 5vh;
  margin-bottom: 4vh;
}
#modalPlayButton{
  height: 50vh;
}
#modalDescription{
  font-size: 3vh;
}


.fullscreen{
  background: url(../assets/img/radavist.jpg) no-repeat center top;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
}


.modal-content{
  border: 0;
}

.modal-dialog{
  margin: 0;
  max-width: 100vw;
  height: 100vh;
}
.modal-body{
  padding: 0px;
}
.videoModalContent{
  /* width: 100vw;
  height: 100vw; */
  background-color: rgba(51,51,51,0.0);
}

/* Buttons */
/* .btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
} */

video{
  width: 85vw;
  margin-left: 7.5vw;
  z-index: 99;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
