@import url('https://fonts.googleapis.com/css?family=Open+Sans');


#topbar{
  padding-top: 30px;
  z-index: 99;
  position: relative;
}

#objectTitle{
  z-index: 99;
  position: relative;
  color: white;
  font-family: 'Open Sans',serif;
}

#sunTitle{
  font-family: 'Open Sans',serif;
  color: white;
}

#more{
  z-index: 99;
  position: relative;
  color: white;
}



.modal-full {
    min-width: 100%;
    margin: 0;
    position: fixed;
}

.modal-dialog{
  margin:0;
}



.modal-full .modal-content {
    min-height: 100vh;
    margin:0;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
